element.style {
  cursor: auto;
}
body {
  cursor: url("https://cdn.glitch.global/1b5c34ed-dfe4-4f65-8242-7719b38a2880/cursor.cur?v=1713129690446"),
    auto;
  font-family: "Lucida Console", monospace;
  background-color: var(--color-bg);
  height: 100%;
  overflow: auto;
}

[hidden] {
  display: none !important;
}

 {
  box-sizing: border-box;
}
.column {
  float: left;
}
.left {
  width: 20%;
}
.right {
  width: 80%;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Very light scaling for our illustration */
.title {
  color: #2800ff;
  font-family: monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  font-family: "Lucida Console", monospace;
  color: Black;
}
a {
  color: grey;
  text-decoration: none;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}
